body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

nav {
  background-color: #222;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00c3ff;
}

.container {
  padding: 30px;
  text-align: center;
}

.hero {
  background: linear-gradient(to right, #00c3ff, #005bea);
  color: white;
  padding: 50px 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.price {
  color: green;
  font-weight: bold;
}
form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: #005bea;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #003caa;
}